<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>文章管理系统</title>
    <style>
        .viceDiv_1 {
            float: left;
            margin-top: 2%;
            margin-bottom: 5%;
            width: 100%;
        }
    </style>
    <script src="/js/jquery.js"></script>
</head>

<body>
<div>
    <h1>欢迎您：<span th:text="${whoami}"></span></h1>
</div>
<hr>
<div th:name="addItems">
    <label>标题</label> <input type="text" name="title"><br>
    <label>内容</label> <input type="text" name="context"><br>
    <input type="button" name="submit" value="发布">
</div>
<hr>
<div style=" float: left;width: 100%; background-color: #FFEBCD;">
    <div th:name="showMyItems" class="viceDiv_1">
        <lable>所有文章</lable>
        <br>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>标题</td>
                <td>内容</td>
                <td>创建人</td>
                <td>创建时间</td>
                <td>评论</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="c1"></tbody>
        </table>
    </div>
    <div th:name="showAllItems" class="viceDiv_1">
        <label>我发布的</label><br>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>标题</td>
                <td>内容</td>
                <td>创建人</td>
                <td>创建时间</td>
                <td>评论</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="c2"></tbody>
        </table>
    </div>
    <div th:name="showAllItems" class="viceDiv_1">
        <label>单篇查询</label><br>
        <div>
            <label>查询ID：</label>
            <input type="text" id="cid">
            <input type="button" name="select_cid" value="查询">
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>标题</td>
                    <td>内容</td>
                    <td>创建人</td>
                    <td>创建时间</td>
                    <td>评论</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody id="c3"></tbody>
            </table>
        </div>
    </div>
    <div th:name="showAllItems" class="viceDiv_1">
        <label>分页查询</label><br>
        <label>根据：</label>
        <select id="select_id">
            <option value="name">标题</option>
            <option value="timeAero">发布时间范围</option>
            <option value="creator">发布人</option>
        </select>
        <input type="button" name="select_page" value="查询"><br>
        <div id="isDate" hidden>
            <label>开始时间</label>
            <input type="datetime-local" name="startTime" value="2016-01-11T16:00:00"/> <br>
            <label>结束时间</label>
            <input type="datetime-local" name="endTime"value="2019-01-11T16:00:00" >
        </div>
        <div id="isOther">
            <input type="text" name="titleOrCreator">
        </div>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>标题</td>
                <td>内容</td>
                <td>创建人</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="c4"></tbody>
        </table>
    </div>
</div>
</body>
<script>
    var isAdminCode = getPermission();

    function init_show() {
        show_context(0); //查看所有文章
        show_context(1); //查看自己发布所有文章
    }

    //可以添加事件委托 实现数据自动刷新
    function onDelOrModify(typeId, element) {
        var context = '';
        if (typeId == 2) context = prompt("请输入要修改的内容");
        $.post("/context/modify", {
            typeId: typeId,
            id: element.id,
            context: context
        }, function (data) {
            if (data) {
                init_show();
            }
        });
    }

    function onComment(ele) {
        var context = prompt("评论内容");
        add_Context('', context, ele.id);
    }

    //自定义格式化
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };

    //判断当前用户是否为管理员
    function getPermission() {
        var isAdmin = false;
        $.ajaxSettings.async = false;
        $.post("/user/whoami", function (data) {
            isAdmin = data;
        });
        return isAdmin;
    }

    //添加节点
    function addNodes(typeid, item) {
        if (typeid == 0) {
            $('#c1').append(getHtml(typeid, item));
        } else if (typeid == 1) {
            $('#c2').append(getHtml(typeid, item));
        } else if (typeid == 2) {
            $("#c3").append(getHtml(typeid, item))
        }else if(typeid==3){
            $("#c4").append(getHtml(typeid, item))
        }
    }

    //返回拼起来的html
    function getHtml(typeid, item) {
        var second_table =
            '<table><tbody>';
        var delButton =
            '<input type=\'button\' id="{0}" onclick=\"onDelOrModify(1,this)\" value=\'删除\'>';
        var commentButton =
            "<input type='button' id=\"{0}\" onclick=\"onComment(this)\" value='评论'>";
        var updateButton = "<input type='button' id=\"{0}\" onclick=\"onDelOrModify(2,this)\" value='修改'>";
        var tr = "<tr>" +
            "<td>{0}</td>" +
            "<td>{1}</td>" +
            "<td>{2}</td>" +
            "<td>{3}</td>" +
            "<td>{4}</td>" ;
        if(typeid!=3) tr+="<td>{5}</td>";
        if (item.comment.length > 0) {
            tr = String.format(tr, item.id, item.title, item.context, item
                .creater, item.createDate, second_table);
            $.each(item.comment, function (i, item) {
                var sTr = "<tr>" +
                    "<td>{1}</td>" +
                    "<td>{2}</td>";
                if (typeid == 1) {
                    if (isAdminCode) sTr += "<td>" + delButton + "</td>";
                }else{
                    sTr += "<td>" + delButton + "</td>";
                }
                sTr += "</tr>";
                sTr = String.format(sTr, item.id, "No." + (i + 1), item.context);
                tr += sTr;
            });
            tr += '</tbody></table>';
        }
        if (typeid == 1) {
            tr += "<td>" + updateButton + delButton + "</td>";
        }else{
            if (isAdminCode) tr += "<td>" + delButton + "</td>";
            tr += "<td>" + commentButton + "</td>";
        }
        tr += "</tr>";
        tr = String.format(tr, item.id, item.title, item.context, item
            .creater, item.createDate, "暂无评论");
        return tr;
    }

    //typeId 0 查看所有 1查看自己发布的  2单篇ID查询 3分页查询
    function show_context(typeid) {
        console.log(typeid);
        $.post("/context/show", {
            typeId: typeid,
            Id: myJsonData["id"],
            title: myJsonData["title"],
            creator: myJsonData["creator"],
            date: myJsonData["date"]
        }, function (data) {
            if (typeid == 0) {
                $('#c1').html('');
            } else if (typeid == 1) {
                $('#c2').html('');
            } else if (typeid == 2) {
                $('#c3').html('');
            } else if (typeid == 3) {
                $('#c4').html('');
            }
            $.each(data, function (i, item) {
                addNodes(typeid, item);
            });
        }, dataType = 'json');
    }

    var myJsonData = {"id": "", "title": "", "date": "", "creator": ""};

    //添加内容
    function add_Context(title, context, typeId) {
        $.post("/context/add", {
            title: title,
            context: context,
            typeId: typeId
        }, function (data) {
            if (data) {
                alert("添加成功");
                //在重新获取一遍我发布的内容
                init_show();
            } else {
                alert("添加失败 请重试");
            }
        })
    }

    $(function () {
        init_show();
        //添加文章按钮
        $("input[name='submit']").click(function () {
            var title = $("input[name='title']").val();
            var context = $("input[name='context']").val();
            if (title == "" || context == "")
                alert("输入内容不允许为空");
            else {
                add_Context(title, context, -1); //添加文章
                init_show();
            }
        });
        //单篇查询 查询按钮
        $("input[name='select_cid']").click(function () {
            myJsonData = {"id": "", "title": "", "date": "", "creator": ""};
            myJsonData["id"] = $("#cid").val();
            show_context(2);
        });
        //分页查询 查询按钮
        $("input[name='select_page']").click(function () {
            myJsonData = {"id": "", "title": "", "date": "", "creator": ""};
            var checkValue = $("#select_id").val();
            if (checkValue === "timeAero") {
                myJsonData["date"]=$("input[name='startTime']").val()+","+$("input[name='endTime']").val();
            } else if (checkValue == "name") {
                myJsonData["title"] = $("input[name='titleOrCreator']").val();
            } else if (checkValue == "creator") {
                myJsonData["creator"] = $("input[name='titleOrCreator']").val();
            }
            $.each(myJsonData, function (i, item) {
                //不为空发送请求

                if (item != "") {
                    show_context(3);
                }
            })
        });
        //分页查询select选择器
        $("select").change(function () {
            var checkValue = $("#select_id").val();
            if (checkValue === "timeAero") {
                $("#isDate").show();
                $("#isOther").hide();
            } else {
                $("#isDate").hide();
                $("#isOther").show();
            }
        });
    });
</script>
</html>
